.rodape{
    background-color: #6278F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.rodape .lista-nav{
    display: flex;
    gap: 4rem;
}

.rodape .lista-nav a:hover{
    opacity: 70%;
}

.rodape h4{
    color: #fff;
    font-size: 24px;
    font-weight: normal;
}

@media screen and (max-width:940px){
    .rodape h4{
        display: none;
    }
}

@media screen and (max-width:630px){
    .rodape .logo{
        display: none;
    }
}